In [1]:
import pandas as pd
import numpy as np

In [18]:
data=pd.read_csv('data.csv',encoding="latin1")
data.head()

C:\Users\dhruv\AppData\Local\Temp\ipykernel_26764\1924864840.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('data.csv',encoding="latin1")

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [26]:
x=data['no2'].dropna()

In [28]:
r=102303645
ar=0.05*(r%7)
br=0.3*(r%5+1)

z=x+ar*np.sin(br*x)

In [38]:
variance=np.var(z)

muvalue=np.mean(z)
cvalue=1/np.sqrt(2*np.pi*variance)
lambdavalue=1/(2*variance)

In [39]:
print(lambdavalue)
print(muvalue)
print(cvalue)

0.0014602636800887954
25.804484510102007
0.02155960031650373